body {
  --ecosoap-theme-color: #ef5958;
  --ecosoap-green-color: #31503c;
  --bs-heading-color: #31503c;
  --ecosoap-beige-color: #f2e5d6;
}
header {
  background: none !important;
  border-bottom: 1px solid #ffffff1a;
}
header.sticky-menu {
  background: #31503cde !important;
}

/* .header-wrapper {
  background-image: url(https://i.ibb.co/VYvh1mcr/h1-bg-slide.webp);
  background-size: cover;
  background-repeat: no-repeat;
} */

header .header__link {
  background: none !important;
  color: #fff !important;
  font-size: 1.05rem !important;
}

header .header__link:hover {
  color: var(--ecosoap-theme-color) !important;
}

.category__container .vstack span {
color: #aaa !important;
}
.category__container .vstack a {
  color: var(--ecosoap-green-color);
}

.category__wrap:hover {
  background-color: var(--ecosoap-beige-color) !important;
}

.core-features-area {
  background: #f2e5d6;
  margin: 0 !important;
  padding-bottom: 5rem;
  padding-top: 5rem;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.core-features-area .card {
  background: none !important;
  border: none !important;
}
.core-features-area .card > span {
    color: #505050;
    font-size: 16px !important;
    line-height: 1.5;
    font-weight: 300;
}

.card-features-area .card h6 {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--ecosoap-green-color);
}

.newsletter__wrap {
  background-color: var(--ecosoap-green-color) !important;
  border-bottom: 1px solid #ffffff1a;
  position: relative;
}

.newsletter__wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100px;
  background-color: var(--ecosoap-green-color);
}

.newsletter__wrap .newsletter_input {
  border-color: rgb(220, 215, 204) !important;
  color: rgb(85, 85, 85) !important;
}
.newsletter__wrap .newsletter_button {
  background-color: var(--ecosoap-theme-color) !important;
  border-color: var(--ecosoap-theme-color) !important;
  color: white !important;
  transition: 0.5s;
}

.newsletter__wrap .newsletter_button:hover {
  color: var(--ecosoap-theme-color) !important;
  background-color: white !important;
  border-color: white !important;
}

.footer-top {
  background-color: var(--ecosoap-green-color) !important;
  color: white !important;
  border-bottom: 1px solid #ffffff1a;
}

footer .fw-link ul li a {
  color: #aaa !important;
  font-size: 15px;
}
footer .fw-link ul li a:hover {
  color: var(--ecosoap-theme-color) !important;
}
footer .footer-text p {
  color: #aaa !important;
}

.footer-social ul li.icon {
  background: none !important;
}

.footer-social ul li.icon svg {
  fill: #aaa;
}

.footer-social ul li.icon:hover svg {
  fill: var(--ecosoap-theme-color);
}

.copyright-wrap {
  background-color: var(--ecosoap-green-color) !important;
  color: white !important;
}

.copyright-wrap .copyright-text p {
  background: none !important;
  color: #aaa !important;
}

#added-elem {
  display: none !important;
}

.scroll-top {
  border: none !important;
  background-color: var(--ecosoap-theme-color) !important;
  color: #fff !important;
}

/* CAROUSEL */

.carousel {
  background-image: url(https://i.ibb.co/VYvh1mcr/h1-bg-slide.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-top: -80px;
}
.center-nav .nav-item > a:before {
  background: var(--ecosoap-theme-color);
}

.navbar ul.navbar-nav li svg {
  fill: white;
}
.navbar ul.navbar-nav .cart-total-price {
  color: white !important;
}

/* carousel */

.my-own-carousel {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  overflow: hidden;
  position: relative;
}

.my-own-carousel .list .item {
  width: 180px;
  height: 250px;
  position: absolute;
  top: 80%;
  transform: translateY(-70%);
  left: 70%;
  border-radius: 20px;
  /* box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3); */
  z-index: 100;
  transition: 1s;
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the image */
  background-size: auto;
}
.my-own-carousel .list .item:nth-child(1) {
  background: none !important;
}
.my-own-carousel .list .item:nth-child(1),
.my-own-carousel .list .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.my-own-carousel .list .item:nth-child(3) {
  left: 67%;
}

.my-own-carousel .list .item:nth-child(4) {
  left: calc(67% + 200px);
}

.my-own-carousel .list .item:nth-child(5) {
  left: calc(67% + 400px);
}

.my-own-carousel .list .item:nth-child(6) {
  left: calc(67% + 600px);
}

.my-own-carousel .list .item:nth-child(n + 7) {
  left: calc(67% + 800px);
  opacity: 0;
}

.list .item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 100%;
  max-width: 600px;
  text-align: left;
  color: #fff;
  display: none;
}

.list .item:nth-child(2) .content {
  display: block;
}

.content .title {
  font-size: 100px;
  color: white;
  font-weight: bold;
  line-height: 1;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .name {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);

  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: 5px;

  opacity: 0;
  animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.content .btn {
  margin-left: 5px;

  opacity: 0;
  animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #fff;
}

.content .btn button:nth-child(1) {
  margin-right: 15px;
}

.content .btn button:nth-child(2) {
  background: transparent;
  color: #14ff72cb;
  border: 2px solid #fff;
  transition: 0.3s;
}

.content .btn button:nth-child(2):hover {
  background-color: #14ff72cb;
  color: #fff;
  border-color: #14ff72cb;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

/* Carousel */

/* next prev arrows */

.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

/* time running */
.my-own-carousel .timeRunning {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 4px;
  background-color: #14ff72cb;
  left: 0;
  top: 0;
  animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* Responsive Design */

@media screen and (max-width: 999px) {
  header {
    padding-left: 50px;
  }

  .list .item .content {
    left: 50px;
  }

  .content .title,
  .content .name {
    font-size: 70px;
  }

  .content .des {
    font-size: 16px;
  }
}

@media screen and (max-width: 690px) {
  header nav a {
    font-size: 14px;
    margin-right: 0;
  }
  .my-own-carousel .list .item {
    background-size: contain;
  }
  .list .item .content {
    top: 40%;
  }

  .my-own-carousel .list .item {
    width: 0;
    height: 0;
  }

  .content .title,
  .content .name {
    font-size: 45px;
  }

  .content .btn button {
    padding: 10px 15px;
    font-size: 14px;
  }
}
